body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
<h1>invalid net</h1>
<p>职业：学生</p>
<p>教育：应急管理大学本科生</p>
<p>荣誉：大广赛省级一等奖</p>
